.settings {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    min-width: 90%;
    justify-content: center;
    background-color: #000;
    font-family: 'Roboto';
    color: #fff;
    padding-top: 100px;
}

.settings.form-title {
    margin-top: 5vh;
}

.settings .edit-group-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
}

.settings .row {
    margin-right: 0;
    margin-left: 0;
}

.settings .edit-group-form .avatar-image { 
    align-items: center;
    cursor: pointer;
    width: 10vh;
    height: 10vh;
}

.settings .edit-group-form .avatar-select {
    margin: 10px;
}

.settings .edit-group-form .modal-content {
    background-color: #000;
}

.settings .all-shows {
    padding-bottom: 100px;
}

.settings .all-shows img {
    height: 150px;
}

.settings .all-shows .btn {
    width: 150px;
}

@media (min-width: 768px) {
    .settings .all-shows img {
        height: 300px;
    }
}