.search {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    min-width: 90%;
    justify-content: center;
    background-color: #000;
    font-family: 'Roboto';
    color: #fff;
    padding-top: 100px;
}

.search .row {
    margin-left: 0;
    margin-right: 0;
}

.search .form-floating input {
    background-color: #000;
}

.search .form-wrapper {
    display: flex;
    min-width: 90vw;
    justify-content: center;
}

.search .form-wrapper form {
    min-width: 90vw;
}

.search .form-floating > label::after {
    background-color: #000 !important;
    color: #fff !important;
}

.search .form-floating > label {
    color: #ffffff79 !important;
}

.search .form-floating input:focus {
    background-color: #000;
    color: #fff;
    border-color: #fff; 
}

@media (min-width: 768px) {
    .search .form-wrapper form {
        min-width: 60vw;
    }
}

@media (max-width: 380px) {
    .search .poster {
        height: 150px;
    }
}